version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: ztrack-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  backend:
    build: ./backend
    container_name: ztrack-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    restart: always

  frontend:
    build: ./frontend
    container_name: ztrack-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:3000/v1/api
    depends_on:
      - backend
    restart: always

volumes:
  mongo_data:
